.teachers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    max-width: 1184px;
    max-height: 328px;
    padding: 24px;

    &PicContainer {
        position: relative;
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 3px solid #FBE9BA;
        background: var(--bgnd-white);
        margin-right: 48px;
    }

    &Pic {
        position: absolute;
        left: 12px;
        top: 12px;
        width: 96px;
        height: 96px;
        flex-shrink: 0;
        border-radius: 100px;
        background:  lightgray 50% / cover no-repeat;
    }

    &Icon {
        position: absolute;
        top: 19px;
        right: 23px;
    }

    &Blocks {
        display: flex;
        flex-direction: column;
    }

    &NameNote {
        color: var(--text-notes);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    &NamePara {
        color: var(--text-primary);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
    }

    &Info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 32px;
    }

    &InfoList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &InfoPara {
        color: var(--text-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    &InfoCost {
        color: var(--text-price);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    &InfoBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border: none;
        // background-image: url(../../assets/icons/heart.svg);
        background-color: transparent;
        margin-left: 64px;

        
    }

    &InfoBtnPic {
        flex-shrink: 0;
        stroke: var(--text-primary);

        &:hover, &:focus {
            // fill: var(--bgnd-btn-primary);
            stroke: var(--bgnd-btn-primary);
        }
    }

    &Desc {
        margin-bottom: 16px;
    }

    &DescList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &DescPara {
        color: var(--text-notes);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    &DescLang {
        color: var(--text-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        text-decoration-line: underline;
    }

    &DescSpan {
        color: var(--text-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    &Link {
        margin-bottom: 32px;
    }

    &LinkPara {
        color: var(--text-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        text-decoration-line: underline;
    }

    &LangLevels {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}