.header {
    // width: 100%;

    &Container {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        width: 1184px;
        height: 48px;
        padding-left: 128px;
        padding-right: 128px;
        padding-top: 20px;
    }

    &LogoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 390px;
    }

    &Logo {
        color: var(--text-primary);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.4px;
        text-decoration: none;
    }

    &Menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &Home {
            color: var(--text-primary);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25;
            text-decoration: none;
        }

        &Teachers {
            color: var(--text-primary);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25;
            margin-left: 28px;
            text-decoration: none;
        }
    }

    &Btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        &Login {
            color: var(--text-primary);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.25;
            text-decoration: none;
        }

        &Reg {
            display: flex;
            padding: 14px 39px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 12px;
            border: none;
            background-color: var(--bgnd-btn-black);
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.25;
            margin-left: 16px;
        }

        &Reg:active {
            background-color: #676f75;
            color: #fff;
            transition: background 0.25s;
        }
    }

    &FormContainer {
        padding: 64px;
        // height: 300px;
    }

    &Modal {
        font-family: 'Roboto', sans-serif;

        &Reg {
            // width: 438px;
            color: var(--text-primary);
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.8px;
        }

        &Para {
            // width: 438px;
            color: var(--text-modal);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
    }
}